*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --background:#010400;
    --border:#30332E;
    --text:#FFFBFC;
}

body{
    background-color: var(--background);
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px solid var(--border);
    border-radius: 10px;
}

h1{
    border: 5px solid var(--border);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}


form{
    margin:20px;
    padding: 10px;
    border: 5px solid var(--border);
    border-radius: 10px;
}

label, input,p{
    padding: 5px;
    margin: 10px;
}

#form-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

label{
    font-size: 25px;
}
p{
    font-size: 30px;
}

#result-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px;
    padding: 10px;
    border: 5px solid var(--border);
    border-radius: 10px;

}

button, #submit{
    padding: 5px;
    background: transparent;
    color: var(--text);
    border: 5px solid var(--border);
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
}

button:hover{
    background-color: var(--text);
    color:var(--background);
    cursor: pointer;
}
#submit:hover{
    background-color: var(--text);
    color:var(--background);
    cursor: pointer;
}

#url_to_shorten{
    background:transparent;
    border: none;
    border-bottom: 5px solid var(--border);
    color: var(--text);
}

