<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Five Foot URLs</title>
</head>
<body>
    <h1>Five Foot URLs </h1>
<form action="/" method="POST">
    <label style="display: none;" for="url_to_shorten">Type your url</label>
    <input id="url_to_shorten" type="text" name="url_to_shorten" placeholder="Shorten your url here!">
    <input type="submit" value="Shorten">
</form>
</body>
</html>